body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 100vh;
}
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: inline-block;
}

.footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #777;
}